nav{

  background-color: #dfdfdf;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;


}

.left{

  display: flex;
}
.right{
  
  display: flex;
}
button{

  height: 60%;
  margin-top: 30px;
  
}
img{

  margin: 15px;
  width: 50px;
  height: 50px;
}
h2{

  text-align: center;
  
}

.left{

  text-align: center;
  align-items: center;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.search-box {
  display: flex;
  border: 2px solid #ccc;
  border-radius: 10px;
  height: 50px;
  margin-right: 50px;
  overflow: hidden;
}

.search-box input[type="text"] {
  border: none;
  padding: 10px;
  width: 300px;
  height: 50px;
  outline: none;
}

.search-box button {
  border: none;
  background-color: #28a745;
  color: white;
  padding: 25px 20px;
  height: 30px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.search-box button:hover {
  background-color: #218838;
}